@charset "UTF-8";
//----------背景 begin-----------
//主背景
@mixin bg-main{
    background: $color-main !important;
    color: #fff!important;
    a{
        color: #fff
    }
}

//副背景
@mixin bg-second{
    background: $color-second !important;
    color: #fff!important;
    a{
        color: #fff
    }
}

//常用背景
@mixin bg-red{
    background: $color-red !important;
    color: #fff!important;
    a{
        color: #fff
    }
}

@mixin bg-blue{
    background: $color-blue !important;
    color: #fff!important;
    a{
        color: #fff
    }
}

@mixin bg-green{
    background: $color-green !important;
    color: #fff!important;
    a{
        color: #fff
    }
}

@mixin bg-orange{
    background: $color-orange !important;
    color: #fff!important;
    a{
        color: #fff
    }
}

//*尺寸
//大
@mixin size-b{
    height: 56px;
    line-height: 54px;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
}
//默认
@mixin size{
    height: 50px;
    line-height: 48px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
//中
@mixin size-m{
    height: 44px;
    line-height: 42px;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
//小
@mixin size-s{
    height: 38px;
    line-height: 36px;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

//**按钮
//按钮颜色
@mixin btn-color($color) {
    @if $color==$font-color-main {
        &:not([disabled]){
            color: $color;
            background: #ebebeb;
            border-color: #d4d4d4;
            &:hover {
                background: lighten(#ebebeb, 5%);
                border-color: darken(#ebebeb, 3%);
            }
            &:active,
            &.active {
                background: darken(#ebebeb, 5%);
                border-color: darken(#ebebeb, 14%);
                z-index: 3
            }
        }
        &[disabled]{
            @include btn-disabled($color);
        }
    }
    @else{
        &:not([disabled]){
            color: lighten($color, 50%);
            background: $color;
            border-color: darken($color, 10%);
            &:hover {
                background: lighten($color, 5%);
                border-color: darken($color, 6%);
            }
            &:active,
            &.active {
                background: darken($color, 5%);
                border-color: darken($color, 14%);
                z-index: 3
            }
        }
        &[disabled]{
            @include btn-disabled($color);
        }
    }
    
}
//失效按钮
@mixin btn-disabled($color){
    z-index: 1;
    cursor: default!important;
    @if $color==$font-color-main {
        color: lighten($color, 50%);
        background:lighten(#ebebeb, 4%);
        border-color:lighten(#ebebeb, .4%);
    }
    @else{
        color: lighten($color, 30%);
        background:lighten($color, 15%);
        border-color:lighten($color, 10%);
    }
}
//镂空按钮颜色
@mixin btn-bd-color($color) {
    @include btn-color($color);
    @if $color==$font-color-main {
        &:not([disabled]){
            color: $color;
            background: transparent;
            border-color: $color;
            &:hover,
            &:active,
            &.active {
                background: darken($color, 5%);
                border-color: darken($color, 14%);
                z-index: 3;
                color: lighten($color, 50%);
            }
        }
        &[disabled]{
            @include btn-bd-disabled($color);
        }
    }
    @else{
        &:not([disabled]){
            color: $color;
            background: transparent;
            border-color: $color;
            &:hover,
            &:active,
            &.active{
                color: lighten($color, 50%);
            }
        }
        &[disabled]{
            @include btn-bd-disabled($color);
        }
    }
}
//失效镂空按钮
@mixin btn-bd-disabled($color){
    cursor: inherit;
    background:transparent;
    @if $color==$font-color-main {
        color: lighten($color, 35%);
        border-color:lighten($color, 55%);
    }
    @else{
        color: lighten($color, 25%);
        border-color:lighten($color, 25%);
    }
}
//**form
@mixin form-bd($bd-color) {
    @if $bd-color==$border-color {
        border-color: darken($bd-color, 10%);
        color: $font-color-main;
    }
    @else {
        border-color: $bd-color;
        background: #fff;
        color: $bd-color;
    }
    &:hover {
        border-color: darken($bd-color, 12%)
    }
    &:focus {
        @if $bd-color==$border-color {
            $bd-color: $color-main
        }
        border-color:$bd-color;
        box-shadow: 0 0 6px lighten($bd-color, 30%);
    }
}

@mixin form-bg($bg-color) {
    border-color: darken($bg-color, 8%);
    background-color: lighten($bg-color, 5%);
    color: lighten($bg-color, 50%);
    &::-webkit-input-placeholder {
        color: lighten($bg-color, 35%);
    }
    &::-moz-input-placeholder {
        color: lighten($bg-color, 35%);
    }
    &::-ms-input-placeholder {
        color: lighten($bg-color, 35%);
    }
    &:hover {
        border-color: darken($bg-color, 12%);
        background-color: lighten($bg-color, 5%)
    }
    &:focus {
        border-color: darken($bg-color, 14%);
        box-shadow: 0 0 10px lighten($bg-color, 10%);
        background-color: darken($bg-color, 2%);
    }
}

//**choice颜色
//choice背景颜色
@mixin choice-bg($bg-color) {
    &>input[type="checkbox"],
    &>input[type="radio"] {
        &:not(:disabled) {
            &~span{
                &:after {
                    border-color: darken($bg-color, 8%);
                    background-color: lighten($bg-color, 5%);
                }
            }
            &:hover {
                &~span {
                    &:after {
                        border-color: darken($bg-color, 12%);
                        background: lighten($bg-color, 10%)
                    }
                }
            }
            &:checked~span{
                &:before{
                    color: #fff;
                }
            }
        }
        
    }
}
//choice边框颜色
@mixin choice-bd($bg-color) {
    &>input[type="checkbox"],
    &>input[type="radio"] {
        &:not(:disabled) {
            &~span{
                &:after {
                    border-color: $bg-color;
                }
            }
            &:hover {
                &~span {
                    &:after {
                        border-color: darken($bg-color, 12%);
                    }
                }
            }
            &:checked~span{
                &:before{
                    color: $bg-color;
                }
                &:after{
                    background: #fff
                }
            }
        }
        
    }
}

//menu颜色
@mixin menu-bg($bg-color){
    border-color: darken($bg-color,5%);
    background: $bg-color;
    ul{
        border-color:darken($bg-color,5%);
        background: $bg-color;
    }
    li{
        >a{
            color: lighten($bg-color, 60%)
        }
        &:not([disabled]):hover{
            >a{
                background: darken($bg-color,12%)!important;
            }
        }
        &[disabled]{
            >a{
                color: lighten($bg-color, 20%)
            }
        }
        border-color: darken($bg-color,4%);
    }
}